/* Mobile first style */
/* MOBILE SCREEN CODE*/
body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}
/*Header section*/
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    background-color:#1ebdc3;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.title{
    align-self: center;
    text-align: center;
    margin-top: 20px;
    font-size: 200%;
    color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header time {
    align-self: flex-end;
    font-size: 14px;
    font-weight:600;
    margin: 10px 10px;
}
/*NavBar section*/
.burgerMenu {
    padding: 5px;
    background-color:#cbe7e0;
}
.burgerMenu img {
    width: 30px;
    height: 30px;
    padding: 5px;
    border: 0.5px solid lightgrey;
}
.mainNav{
    display: none;
}
/*Main body section*/
.newsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: auto;
    height: 50%;
    background-color:#1ebdc3;
    text-decoration: none;
}
.mainNews{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
    border: 1px #205555;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 5px;
    background-color:#c5e0c7;
}
.article{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: 90%;;
    justify-content: space-between;
    width: auto;
    height: auto;
    margin: 10px;    
    padding: 10px;
}
.mainImg{
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}
.article h2, h3{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.article a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;          
}
.article p{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}
.article a h2, .article a h3{
    color: #000000;
    font-size: 16px;
    text-decoration: none;           
}
.article a h2:hover, .article a h3:hover{
    color: darkred;
}
.lAside{
    order: 1;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 5px;
    border: 1px ;
    border-radius: 10px;
    background-color:#cbe7e0;
}
.secondaryNews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    border: 1px white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color:#c5e0c7;
}
.secondaryNews a {
    color: #000000;
    font-size: 16px;
    text-decoration: none;          
}
.secondaryNews a:hover {
    color: darkred;
}
.rAside{
    display: flex;
    order: 2;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    background-color:#c5e0c7;
}
.ads{
    width: auto;
    margin: 5px;
    height: auto;
}
.adsImg{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.adsImg:hover{
    opacity: 0.7;
}
/*Footer section*/
footer {
    border-top: 2px solid black;
    padding: 15px 0;
    text-align: center;
    font-weight:normal;
    background-color: #dfe1e3;
}
/* TABLET SCREEN CODE */
@media only screen and (min-width: 600px) {
/*Header section*/
    header time {
        margin: 10px 15px;
    }
/*NavBar section*/
    .burgerMenu {
        display: none;
    }
    .mainNav{
        display:flex;
        flex-direction: row;
        flex-basis: 80%;
        justify-content:flex-start;
        padding: 5px;
        background-color:#cbe7e0;
    }
    .mainNav li a{
        display:flex;
        margin: 10px 10px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color:#1d2220;
        border-left: 1px #1d2220 solid;
        padding: 5px;
        text-align:center;
    }
    .mainNav li a:hover{
        font-weight: bold;
        color:blue;
    }
    .mainNav:hover{
        background-color:lightgrey;
    }
    /*Main body section*/
    .newsContainer{
        flex-direction: row;
        max-width: auto;
        flex-wrap:wrap;
        height: auto;
        align-items:flex-start;
    }
    .mainNews{
        flex-direction: column;
        order: -1;
        width: 70%;
        height: auto;
    }
    .article{
        flex-wrap: nowrap;
    }
    .lAside{
        height: auto;
        justify-content: space-around;
        width: 20%;
    }
    .secondaryNews{
        margin: 10px 5px;
        padding: 10px;
    }
    .rAside{
        flex-direction: row;
        justify-content: space-around;
        width: 90%;
        height: auto;
    }
}
/* COMPUTER SCREEN CODE */
@media only screen and (min-width: 950px) {
    .title{
        margin-top: 30px;
        font-size: 250%;
        letter-spacing: 2.5px;
    }
/*NavBar section*/
    .burgerMenu {
        display: none;
    }
    .mainNav{
        display:flex;
        flex-direction: row;
        flex-basis: 80%;
        justify-content:flex-start;
        padding: 5px;
        background-color:#cbe7e0;
    }
    .mainNav li a{
        display:flex;
        margin: 10px 10px;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        color:#1d2220;
        border-left: 1px #1d2220 solid;
        padding: 5px;
        text-align:center;
    }
    .mainNav li a:hover{
        font-weight: bold;
        color:blue;
    }
    .mainNav:hover{
        background-color:lightgrey;
    }
    .newsContainer{
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: auto;
        height: auto;
    }
    .mainNews{
        flex-direction: column;
        flex-wrap: nowrap;
        order: 0;
        width: 60%;
        height: auto;
    }
    .lAside{
        height: auto;
        order: -1;
        justify-content: space-evenly;
        width: 20%;
    }
    .rAside{
        order: 1;
        flex-direction: column;
        width: 15%;
        height: auto;
    }
    .ads{
        padding: 10px 0px;
    }
}
